node-red/flows.json
[
    {
        "id": "6d5d5aa0.77a758",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ae38333.03726",
        "type": "tab",
        "label": "MQTT_Log",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3d28362.06a72",
        "type": "tab",
        "label": "MQTT_InGame",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d60e8f2d.f7bf7",
        "type": "tab",
        "label": "MQTT_GameStats",
        "disabled": false,
        "info": ""
    },
    {
        "id": "453f85e2.7be33c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Paho-pi",
        "broker": "rtist-pi",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "0",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5a0f04fe.b8446c",
        "type": "ui_group",
        "z": "6d5d5aa0.77a758",
        "name": "Games",
        "tab": "5f5e90dd.d3faa",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "25360610.c1528e",
        "type": "ui_group",
        "z": "6d5d5aa0.77a758",
        "name": "Games",
        "tab": "4c39ab31.d80b64",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e6f7eb87.b5245",
        "type": "ui_base",
        "z": "6d5d5aa0.77a758",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "94a93869.ff9c08",
        "type": "ui_group",
        "z": "6d5d5aa0.77a758",
        "name": "Stats",
        "tab": "4c39ab31.d80b64",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a3077019.b82c2",
        "type": "ui_group",
        "z": "6d5d5aa0.77a758",
        "name": "Recognition Precision",
        "tab": "4c39ab31.d80b64",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d2e870f1.d8eb7",
        "type": "ui_group",
        "name": "93952fc6.6ac68",
        "tab": "",
        "order": null,
        "disp": true,
        "width": 6
    },
    {
        "id": "5449e8df.419f9",
        "type": "ui_group",
        "name": "a42f1e16.2fbee",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "d83e3fb8.932ac",
        "type": "ui_group",
        "name": "ba18bba7.b37868",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "9388f23b.e17d4",
        "type": "ui_group",
        "z": "",
        "name": "Games",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6527d2d5.91408",
        "type": "mqtt-broker",
        "z": "",
        "name": "Paho-pi",
        "broker": "rtist-pi",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "0",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d0e3ddd.5d93ae",
        "type": "ui_group",
        "z": "",
        "name": "Games",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f0d02163.c5147",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34d2e4c4.228ea4",
        "type": "ui_group",
        "z": "",
        "name": "Recognition Precision",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f3bb51d0.d5cc",
        "type": "ui_group",
        "z": "",
        "name": "Games",
        "tab": "eba230fb.58b8f",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eba230fb.58b8f",
        "type": "ui_tab",
        "z": "",
        "name": "Become an RTist Game",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3f13824e.d6cb1e",
        "type": "mqtt-broker",
        "z": "",
        "name": "Paho-pi",
        "broker": "rtist-pi",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "0",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "aeaf52f4.8e64d",
        "type": "ui_group",
        "z": "",
        "name": "Games",
        "tab": "c23ec4a7.427b08",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c23ec4a7.427b08",
        "type": "ui_tab",
        "z": "",
        "name": "Become an RTist Game",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "79cb5d36.c9cd84",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "c23ec4a7.427b08",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9446799b.1e12c8",
        "type": "ui_group",
        "z": "",
        "name": "Recognition Precision",
        "tab": "c23ec4a7.427b08",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "97f70e54.67ede",
        "type": "mqtt-broker",
        "z": "",
        "name": "Paho-pi",
        "broker": "rtist-pi",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "0",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3199b19d.a03e5e",
        "type": "ui_group",
        "z": "",
        "name": "Games",
        "tab": "7b61f9ba.a2c898",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7b61f9ba.a2c898",
        "type": "ui_tab",
        "z": "",
        "name": "Become an RTist Game",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54703a3d.bc3eb4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c52497d4.a562f8",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "7b61f9ba.a2c898",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "46d5ffaf.bb5fb",
        "type": "ui_group",
        "z": "",
        "name": "Recognition Precision",
        "tab": "7b61f9ba.a2c898",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "70edebe6.c896f4",
        "type": "mqtt in",
        "z": "f3d28362.06a72",
        "name": "MQTT In game",
        "topic": "/becomeanrtist/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "97f70e54.67ede",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "58ac78dd.d042a8",
                "c54db434.764fe8"
            ]
        ]
    },
    {
        "id": "58ac78dd.d042a8",
        "type": "json",
        "z": "f3d28362.06a72",
        "name": "parseJSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "6c7e3e89.12f4c",
                "c54db434.764fe8"
            ]
        ]
    },
    {
        "id": "6c7e3e89.12f4c",
        "type": "switch",
        "z": "f3d28362.06a72",
        "name": "switch topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "RecognitionFailed",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "WordCompleted",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "e7cbe8c6.4adae8"
            ],
            [
                "e7cbe8c6.4adae8",
                "836c8a32.40b418"
            ]
        ]
    },
    {
        "id": "2bf21c3f.148e14",
        "type": "function",
        "z": "f3d28362.06a72",
        "name": "ResetCounters",
        "func": "flow.set('buttonCounter',0);\nflow.set('recognizedCounter',0);\nflow.set('gamesCounter',0);\nflow.set('maxAttempts',0);\nmsg.payload = []\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "af20e5d1.aaa868",
                "e8bbb540.b87c78",
                "cd73d87a.871d98"
            ]
        ]
    },
    {
        "id": "af20e5d1.aaa868",
        "type": "ui_gauge",
        "z": "f3d28362.06a72",
        "name": "",
        "group": "c52497d4.a562f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Button pressed",
        "label": "times",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1220,
        "y": 340,
        "wires": []
    },
    {
        "id": "e7cbe8c6.4adae8",
        "type": "function",
        "z": "f3d28362.06a72",
        "name": "calcRatio",
        "func": "var cnt = flow.get('buttonCounter');\ncnt++;\nflow.set('buttonCounter',cnt);\nvar words = flow.get('recognizedCounter');\nif (msg.topic.includes(\"WordCompleted\")) {\n    words++;\n    flow.set('recognizedCounter',words);\n}\nmsg.payload = (100*words/cnt) | 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "e8bbb540.b87c78",
                "733562f9.173c8c"
            ]
        ]
    },
    {
        "id": "e8bbb540.b87c78",
        "type": "ui_gauge",
        "z": "f3d28362.06a72",
        "name": "",
        "group": "46d5ffaf.bb5fb",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Successfully recognized",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "733562f9.173c8c",
        "type": "function",
        "z": "f3d28362.06a72",
        "name": "showPressedCounter",
        "func": "msg.payload = flow.get('buttonCounter');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 120,
        "wires": [
            [
                "af20e5d1.aaa868",
                "c0473df5.c3dd"
            ]
        ]
    },
    {
        "id": "836c8a32.40b418",
        "type": "function",
        "z": "f3d28362.06a72",
        "name": "updateMax",
        "func": "var attempt = msg.payload.attempt;\nvar maxAttempts = flow.get('maxAttempts');\nif (attempt > maxAttempts) {\n    maxAttempts = attempt;\n    flow.set('maxAttempts', maxAttempts)\n    \n}\nmsg.payload = maxAttempts;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "cd73d87a.871d98"
            ]
        ]
    },
    {
        "id": "cd73d87a.871d98",
        "type": "ui_gauge",
        "z": "f3d28362.06a72",
        "name": "",
        "group": "c52497d4.a562f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Max Attempts",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "7",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "ea6d8b48.fb8ee8",
        "type": "mqtt in",
        "z": "8ae38333.03726",
        "name": "All MQTT Msgs",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "97f70e54.67ede",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "7111e6ac.ae3a68",
                "6c32e821.439838"
            ]
        ]
    },
    {
        "id": "7111e6ac.ae3a68",
        "type": "debug",
        "z": "8ae38333.03726",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "d74d52d.0475fb",
        "type": "file",
        "z": "8ae38333.03726",
        "name": "Write to file",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6c32e821.439838",
        "type": "function",
        "z": "8ae38333.03726",
        "name": "formatLog",
        "func": "msg.payload = msg.topic + \"; \" + msg.payload\nlet date = new Date();\nlet strDate = \"game_\" + date.getFullYear();\nlet month = date.getMonth()+1;\nstrDate += \"_\" + (month < 10 ? \"0\" : \"\") +(month);\nstrDate += \"_\" + date.getDate();\nmsg.filename = \"C:\\\\logs\\\\\"+ strDate + \".txt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "d74d52d.0475fb"
            ]
        ]
    },
    {
        "id": "26bc36fc.505b9a",
        "type": "ui_chart",
        "z": "d60e8f2d.f7bf7",
        "name": "",
        "group": "3199b19d.a03e5e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Score",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2e334504.f2ac5a",
        "type": "function",
        "z": "d60e8f2d.f7bf7",
        "name": "score",
        "func": "var timestamp = msg.payload.timestamp;\nvar msgScore = {};\nvar msgWords = {};\nmsgScore.payload = msg.payload.score;\nmsgWords.payload = msg.payload.words_count;\nvar hour = timestamp.substr(timestamp.length-6,2);\nvar ampm = \"AM\"\nif (hour>12) {\n    hour-= 12;\n    ampm = \"PM\"\n}\nvar min = timestamp.substr(timestamp.length-4,2);\nmsgScore.topic = hour + \":\" + min + \" \" + ampm;\nmsgWords.topic = msgScore.topic;\nreturn [msgScore, msgWords];",
        "outputs": 2,
        "noerr": 0,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "26bc36fc.505b9a"
            ],
            [
                "40445ac1.9ffdc4"
            ]
        ]
    },
    {
        "id": "f27557f6.01cb28",
        "type": "function",
        "z": "d60e8f2d.f7bf7",
        "name": "word",
        "func": "msg.payload = msg.payload.word\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "325779b7.959256"
            ]
        ]
    },
    {
        "id": "d36b221e.8752c",
        "type": "function",
        "z": "d60e8f2d.f7bf7",
        "name": "ResetCounters",
        "func": "flow.set('buttonCounter',0);\nflow.set('recognizedCounter',0);\nflow.set('gamesCounter',0);\nflow.set('maxAttempts',0);\nmsg.payload = []\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 400,
        "wires": [
            [
                "40445ac1.9ffdc4",
                "26bc36fc.505b9a",
                "6e0e7b9e.84cdf4"
            ]
        ]
    },
    {
        "id": "12631275.ad3cde",
        "type": "ui_audio",
        "z": "d60e8f2d.f7bf7",
        "name": "",
        "group": "3199b19d.a03e5e",
        "voice": "en-US",
        "always": true,
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "325779b7.959256",
        "type": "delay",
        "z": "d60e8f2d.f7bf7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "12631275.ad3cde"
            ]
        ]
    },
    {
        "id": "40445ac1.9ffdc4",
        "type": "ui_chart",
        "z": "d60e8f2d.f7bf7",
        "name": "Words",
        "group": "3199b19d.a03e5e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Words Completed",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "14",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e0b31f25.5f577",
        "type": "http request",
        "z": "d60e8f2d.f7bf7",
        "name": "Update highscore in google docs",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://docs.google.com/forms/d/144cAVe-tWckujmLxCQb2ZtE3xXwps3bB326TyfCYptI/formResponse?entry.246758975={{payload.timestamp}}&entry.1288351744={{payload.score}}&entry.202028413={{payload.word_count}}",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 600,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "6e0e7b9e.84cdf4",
        "type": "ui_chart",
        "z": "d60e8f2d.f7bf7",
        "name": "",
        "group": "3199b19d.a03e5e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Highscores",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 750,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c5233897.771398",
        "type": "function",
        "z": "d60e8f2d.f7bf7",
        "name": "score",
        "func": "var timestamp = msg.payload.timestamp;\nvar msgScore = {};\nmsgScore.payload = msg.payload.score;\nvar hour = timestamp.substr(timestamp.length-6,2);\nvar ampm = \"AM\"\nif (hour>12) {\n    hour-= 12;\n    ampm = \"PM\"\n}\nvar min = timestamp.substr(timestamp.length-4,2);\nmsgScore.topic = hour + \":\" + min + \" \" + ampm;\nreturn msgScore;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "6e0e7b9e.84cdf4"
            ]
        ]
    },
    {
        "id": "7dc22fae.60afd",
        "type": "inject",
        "z": "d60e8f2d.f7bf7",
        "name": "Say Hello",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 700,
        "y": 20,
        "wires": [
            [
                "12631275.ad3cde"
            ]
        ]
    },
    {
        "id": "7b6c7987.9ef928",
        "type": "mqtt in",
        "z": "d60e8f2d.f7bf7",
        "name": "MQTT WordSelected",
        "topic": "/becomeanrtist/WordSelected",
        "qos": "2",
        "datatype": "auto",
        "broker": "97f70e54.67ede",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "a08d094c.a62b48"
            ]
        ]
    },
    {
        "id": "a08d094c.a62b48",
        "type": "json",
        "z": "d60e8f2d.f7bf7",
        "name": "parseJSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "f27557f6.01cb28"
            ]
        ]
    },
    {
        "id": "c650163b.9bc638",
        "type": "mqtt in",
        "z": "d60e8f2d.f7bf7",
        "name": "MQTT GameEnded",
        "topic": "/becomeanrtist/GameEnded",
        "qos": "2",
        "datatype": "auto",
        "broker": "97f70e54.67ede",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "965fb3e1.6edfe"
            ]
        ]
    },
    {
        "id": "965fb3e1.6edfe",
        "type": "json",
        "z": "d60e8f2d.f7bf7",
        "name": "parseJSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "2e334504.f2ac5a"
            ]
        ]
    },
    {
        "id": "e41b9168.441d9",
        "type": "mqtt in",
        "z": "d60e8f2d.f7bf7",
        "name": "MQTT HighScore",
        "topic": "/becomeanrtist/HighScore",
        "qos": "2",
        "datatype": "auto",
        "broker": "97f70e54.67ede",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "458e0e70.4e9de"
            ]
        ]
    },
    {
        "id": "458e0e70.4e9de",
        "type": "json",
        "z": "d60e8f2d.f7bf7",
        "name": "parseJSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "e0b31f25.5f577",
                "c5233897.771398"
            ]
        ]
    },
    {
        "id": "98a97072.e0d5e",
        "type": "inject",
        "z": "8ae38333.03726",
        "name": "CLEAN DASHBOARD",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "ef44dfb3.c1cfa"
            ]
        ]
    },
    {
        "id": "ae353ee6.76275",
        "type": "link in",
        "z": "d60e8f2d.f7bf7",
        "name": "",
        "links": [
            "ef44dfb3.c1cfa"
        ],
        "x": 315,
        "y": 400,
        "wires": [
            [
                "d36b221e.8752c"
            ]
        ]
    },
    {
        "id": "ef44dfb3.c1cfa",
        "type": "link out",
        "z": "8ae38333.03726",
        "name": "",
        "links": [
            "839a4b86.537a58",
            "ae353ee6.76275"
        ],
        "x": 495,
        "y": 260,
        "wires": []
    },
    {
        "id": "839a4b86.537a58",
        "type": "link in",
        "z": "f3d28362.06a72",
        "name": "",
        "links": [
            "ef44dfb3.c1cfa"
        ],
        "x": 455,
        "y": 360,
        "wires": [
            [
                "2bf21c3f.148e14"
            ]
        ]
    },
    {
        "id": "c0473df5.c3dd",
        "type": "debug",
        "z": "f3d28362.06a72",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1200,
        "y": 120,
        "wires": []
    },
    {
        "id": "c54db434.764fe8",
        "type": "debug",
        "z": "f3d28362.06a72",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "f09d7f6f.56737",
        "type": "mqtt in",
        "z": "f3d28362.06a72",
        "name": "MQTT GameStarted",
        "topic": "/becomeanrtist/GameStarted",
        "qos": "2",
        "datatype": "auto",
        "broker": "97f70e54.67ede",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "ce2c97f7.5f7e38"
            ]
        ]
    },
    {
        "id": "ce2c97f7.5f7e38",
        "type": "json",
        "z": "f3d28362.06a72",
        "name": "parseJSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "521304d9.f3d34c"
            ]
        ]
    },
    {
        "id": "521304d9.f3d34c",
        "type": "ui_text",
        "z": "f3d28362.06a72",
        "group": "c52497d4.a562f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last game played",
        "format": "{{msg.payload.timestamp}}",
        "layout": "row-spread",
        "x": 730,
        "y": 60,
        "wires": []
    }
]